/* color scheme: http://www.colourlovers.com/palette/132637/OddButTrendy/ */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'ABeeZee', sans-serif;
    background-image: url(/img/background.png);
    height: 100%;
}

h1,h2,h3,h4,h5 {
    font-family: 'Krona One';
    color: #680148;
    text-align: center;
    font-size: 1.4em;
}

h1 {
    height: 100px;
}

h1#kernel {
    height: 50px;
}

h1#message {
    color: #E0EFF1;
    height: 50px;
}

h1.sectiontitle {
    color: #7DB4B5;
    margin: 0;
    padding: 0;
    height: auto;
}

.big {
    font-size: 1.2em;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

div.top {
    width: 100%;
    height: 2%;
}

.top .login {
    width:87%;
    margin-right:13%;
    text-align:right;
}

.wrapper {
    width: 98%;
    height: 96%;

    padding-left: 1%;
    padding-right: 1%;
}

.left {
    width: 30%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.center {
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    width: 30%;
    height: 100%;
    float: left;
    margin:0;
    padding:0;
}

.bottom {
    width: 100%;
    height: 2%;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.8em;
}

.bottom a, p a {
    color: #7DB4B5;
}

/***********
 * HINT BOX
 ***********/

.hints {
    width: 100%;
    min-height: 61.80%;

    -webkit-box-shadow: 0 4px 6px #b7b7b7;
    box-shadow: 0 4px 6px #b7b7b7;
    background: #ffffff;

    -ms-overflow-y: hidden;
    overflow-y: hidden;

    background: #ffffff;
    background: rgba(255, 255, 229, 0.3);
    color: #000;
}

.hints h1 {
    font-size: 1.2em;
    color: #E0EFF1;
    height: auto;
}

.hints .hint {
    margin: 0;
    padding: 5px;
    text-align: justify;
    line-height: 1.25em;
}

.hints .hint p {
    line-height: 1.25em;
}

.hints .hint p br {
    display: block;
    margin-top: 0.5em;
    line-height: 0.9em;
    content: "";
}

/************
 * DASHBOARD
 ************/

.dashboard {
    width: 90%;
    text-align: left;
    margin: auto;
    padding: 0;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
}

div.newProject {
    display: none;
    width: 90%;
    text-align: left;
    margin: auto;
    padding: 0;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
}

.newProject ul {
    width: 100%;
    list-style-type: none;
    text-align: center;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newProject li {
    list-style-type: none;
}

input#nameNewProject,textarea#descriptionNewProject {
    width: 80%;
    margin-bottom: 10px;
    border: 0;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
}

input#nameNewProject {
    height: 1.9em;
}

textarea#descriptionNewProject {
    height: 200px;
}

button#makeNewProject {
    width: 40%;
    height: 1.9em;
    margin: auto;
}

button.css3button {
    font-size: 1em;
    color: #333333;
    background-color: #b7b7b7;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
}

ul.projects {
    list-style-type: none;
}

ul.projects li {
    padding: 10px 20px;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
}

.commands {
    display: none;
}

div.projectName {
    float: left;
    width: 75%;
    margin:0;
    padding:0;
}

div.projectCommands {
    float:left;
    text-align: right;
    margin: 0;
    padding: 0;
    display:none;
}

/************
 * ACCORDION
 ************/

/* credits: http://tympanus.net/codrops/2012/02/21/accordion-with-css3/ */

.ac-container {
    width: 90%;
    text-align: left;
    margin: auto;
    padding: 0;

    -webkit-box-shadow: 0px 4px 6px #b7b7b7;
    box-shadow: 0px 4px 6px #b7b7b7;
}

.ac-container label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 1.05em;
    background: #ffffff;
}

div.concern label {
    background: #00356D;
    color: #979797;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    text-shadow: none;
}

.ac-container label:hover {
    background: #E0EFF1;
    color: #7DB4B5;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
    background: #E0EFF1;
    color: #7DB4B5;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);

    -webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(/img/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(/img/arrow_up.png);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;

    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article ul {
    color: #777;
    line-height: 23px;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    list-style-type: none;
}

.ac-container article ul li {
    font-size: 0.9em;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
    cursor: hand;
}

.ac-container article ul li div {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    float: left;
}

.ac-container article ul li div img {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

li.selectable:hover {
    background-color: #7DB4B5;
    text-shadow: none;
}

li.selected {
    color: #7DB4B5;
    text-shadow: none;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: 210px;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
    padding: 20px;
}

.section {
    display: block;
}

/*********
 * GRAPHS
 *********/

.graphs {
    width: 100%;
    min-height: 61.80%;

    -webkit-box-shadow: 0 4px 6px #b7b7b7;
    box-shadow: 0 4px 6px #b7b7b7;
    background: #ffffff;

    -ms-overflow-y: hidden;
    overflow-y: hidden;
}

.graphs:hover {
    overflow: auto;
}

.graph {
    margin-bottom: 20px;
}
