/**
 * Palette - http://www.colourlovers.com/palette/132637/Odd_but_trendy
 */
body {
    border-width: 0;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Krona One';
    color: #680148;
    font-size:1.5em;
    width:100%;
    text-align:center;
}

h1 {
    height: 100px;
}

h1#message {
    color: #7DB4B5;
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left {
    width: 30%;
    float: left;
    text-align:center;
}

.bubble {
    width: 80%;
    background-color: #F2F2F2;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    display: none;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 120px;
    -moz-transform: rotate( 29deg ) skew( -35deg );
    -ms-transform: rotate( 29deg ) skew( -35deg );
    -o-transform: rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    transform: rotate( 29deg ) skew( -35deg );
    width: 20px;
}

.hint {
    float: right;
    margin: 5px 20px 5px 45px;
}

.hint::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}

.center {
    width: 38%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    text-align:center;
}

.right {
    width: 30%;
    float: left;
    text-align:center;
}

a {
    text-decoration: none;
    color: #333;
}

.section {
    display: block;
}

.kernel {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #eee;
    margin: 0;
    padding: 15px;
}

#graph {
    margin:auto;
}

/* ACCORDION */
/* credits http://tympanus.net/codrops/2012/02/21/accordion-with-css3/ */
.ac-container {
    width: 70%;
    text-align: left;
    margin:auto;
}

.ac-container label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 17px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}

div.concern label {
    background: #00356D;
    color: #979797;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
    text-shadow: none;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    background: #E0EFF1;
    color: #7DB4B5;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(../arrow_up.png);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article ul {
    color: #777;
    line-height: 23px;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    list-style-type: none;
}

.ac-container article ul li {
    font-size: 1.2em;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
    cursor: hand;
}

.ac-container article ul li div {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    float: left;
}

.ac-container article ul li div img {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

li.selectable:hover {
    background-color: #7DB4B5;
    text-shadow: none;
}

li.selected {
    text-shadow: none;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: 250px;
 /*140px;*/
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}

/* bubbletip */

.tooltip {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    bottom: 100px;
    right: 100px;
    z-index: 100;
}
