@charset "UTF-8";


.icon-check:before { content: '\2611'; } /* '☑' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-back:before { content: '\e706'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */
.icon-chart:before { content: '📈'; } /* '\1f4c8' */